numpy
pandas
h5py
pillow
tqdm
scipy
scikit-learn
matplotlib
seaborn
opencv-python
gymnasium[atari,accept-rom-license]
ale-py
autorom[accept-rom-license]
python-dotenv
PyYAML
tensorboard
huggingface_hub[cli]
